//layout colors
$primary-color: #0d0a22;
$secondary-color: #0b1696;
$secondary-soft-color: #161c5982;
$white-color:  #ffff;
$white-shade: #f2f2f2e0;
$black-color: #000;
//text colors
$text-black: #0000;
$text-white: #ffff;
$heading-color: #f2f2f2;
$sub-heading-color: #d8d8d8;

//font sizes
$heading-size: 30px;
$subheading-size: 22px;
$paragraph-size: 20px;
$smallText-size: 16px;

//extras
$border-radius: 10px;

//screens
$breakpoints:(
    "xs":"max-width: 575.98px",
    "sm":"(min-width:576px)and(max-width:767.98px)",
    "md":"(min-width:768px)and(max-width:991.98px)",
    "lg":"(min-width:992px)and(max-width:1199.98px)",
    "xl":"(min-width:1200px)and(max-width:1399.98px)",
    "xxl":"min-width:1400px"    
);

//functions and mixins
@function weight($weight-name){
    @return map-get($font-weights, $weight-name );
}

@mixin flexCenter(){
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin breakpoint($user-value){
    $query: map-get($breakpoints, $user-value );
    @if $query{
        @media (#{$query}) {
            @content;
        }
    } @else{
        @error "Oops! seems like the breakpoint #[$user-value] isn't defined yet";
    }
}