@import "./theme/theme.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    transition: 0.3s ease;
    background-color: $black-color;
    color: $text-white;
    .main-content{
        // background-color: $primary-color;
        width: 60%;
        margin: auto;
        padding: 0.5rem 2rem;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
}