@import "./theme/theme.scss";

.links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: white;
    .logoutBtn {
        padding: 0.5rem 1rem;
        cursor: pointer;
        border-radius: $border-radius;
        font-weight: 500;
        border: none;
    }
}

.navLink {
    background-color: red;
    min-width: 100px;
    padding: 0.5rem 1rem;
    border-radius: $border-radius;
    border: none;
    font-weight: 500;
    text-align: center;
    .active {
        background-color: $white-color;
        color: $primary-color;
    }
}

.mobileLinks {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}
